/*Global Styles*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: #272727;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffefd3;
    text-align: center;
}
/*Responsive*/
.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 90%;
    max-height: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: transparent;

    h1, h2, h3 {
        font-weight: 700;
        padding-bottom: 20px;
    }

    p {
        font-weight: 300;
    }
}

@media (max-width: 600pc) {
    .page-wrapper {
        padding: 10px;
    }
}

/*Google Fonts*/
.inter-gfonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/*Header Styles*/
header {
    position: sticky;
    top: 0;
    z-index: 100;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/*Scrolled Header Styles*/
header.scrolled {
    background-color: rgba(55, 55, 55, 0.9);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
/*Hover Header Styles*/
header:hover {
    background-color: rgba(236, 236, 236, 0.9);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

header:hover .logo {
    color: #272727;
}

header:hover .nav-links a {
    color: #272727;
}
/*Header nav container styles*/
nav {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

/*header nav styles*/
.nav-links {
    font-size: 18px;
    list-style: none;
    text-decoration: none;
    padding:o;
    margin: 0;
    gap: 1rem;
    cursor: pointer;
    display: flex;
}

.nav-links a {
    text-decoration: none;
    color: #ffefd3;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

header:hover .nav-links a:hover {
    color: #f6511d;
}
/*Logo styles*/
.logo {
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 700;
    text-decoration: none;
    color: #ffefd3;
}

header:hover .logo:hover {
    color: #f6511d;
}