
.inter-gfonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: #0d2c54;
    background: no-repeat fixed;
    color: white;
    text-align: center;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 90%;
    max-height: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: transparent;

    h1, h2, h3 {
        font-weight: 700;
        padding-bottom: 20px;
    }
}